fastapi
uvicorn
huggingface-hub
InstructorEmbedding
faiss-cpu
llama-index>=0.11.0
llama-index-embeddings-huggingface
llama-index-llms-llama-cpp
llama-index-vector-stores-faiss
pdfplumber
pydantic
pymongo
requests
python-docx
python-multipart
llama-index-embeddings-fastembed
beautifulsoup4
streamlit
llama-cpp-python
crewai
langchain-community
playwright
urllib3
asyncio
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.47.2 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
